In [ ]:
!pip3 install geojson

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geojson
  Downloading geojson-2.5.0-py2.py3-none-any.whl (14 kB)
Installing collected packages: geojson
Successfully installed geojson-2.5.0

In [ ]:
!pip3 install osmnx

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting osmnx
  Downloading osmnx-1.1.2-py2.py3-none-any.whl (95 kB)
     |████████████████████████████████| 95 kB 3.1 MB/s
Collecting pyproj>=3.2
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 22.5 MB/s
Requirement already satisfied: networkx>=2.6 in /usr/local/lib/python3.7/dist-packages (from osmnx) (2.6.3)
Collecting Rtree>=0.9
  Downloading Rtree-1.0.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 43.9 MB/s
Collecting matplotlib>=3.4
  Downloading matplotlib-3.5.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.2 MB)
     |████████████████████████████████| 11.2 MB 33.4 MB/s
Requirement already satisfied: Shapely<2.0,>=1.7 in /usr/local/lib/python3.7/dist-packages (from osmnx) (1.8.2)
Requirement already satisfied: pandas>=1.3 in /usr/local/lib/python3.7/dist-packages (from osmnx) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.1 MB/s
Collecting geopandas>=0.10
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 41.4 MB/s
Requirement already satisfied: numpy>=1.21 in /usr/local/lib/python3.7/dist-packages (from osmnx) (1.21.6)
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 257 kB/s
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.10->osmnx) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.10->osmnx) (2022.6.15)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.10->osmnx) (21.4.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.10->osmnx) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.10->osmnx) (57.4.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->osmnx) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->osmnx) (2.8.2)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.34.4-py3-none-any.whl (944 kB)
     |████████████████████████████████| 944 kB 22.2 MB/s
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->osmnx) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->osmnx) (7.1.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->osmnx) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->osmnx) (21.3)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.4->osmnx) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.3->osmnx) (2022.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->osmnx) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->osmnx) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->osmnx) (1.24.3)
Installing collected packages: munch, cligj, click-plugins, pyproj, fonttools, fiona, Rtree, requests, matplotlib, geopandas, osmnx
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed Rtree-1.0.0 click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 fonttools-4.34.4 geopandas-0.10.2 matplotlib-3.5.2 munch-2.5.0 osmnx-1.1.2 pyproj-3.2.1 requests-2.28.1

In [ ]:
!pip3 install shapely.constructive

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement shapely.constructive (from versions: none)
ERROR: No matching distribution found for shapely.constructive

In [ ]:
import pandas as pd
import numpy as np
import csv
import plotly.express as px
import geopandas as gpd
import json
import requests
# import ipython-sql
# import regex as re
%matplotlib inline
from shapely.geometry import Point
from geopandas import datasets, GeoDataFrame, read_file

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
workdir = '/content/drive/MyDrive/Colab Notebooks/Hazus Data/Hazus_CA_CB/' # for Tina
# workdir = '/content/drive/MyDrive/Hazus Data/Hazus_CA_CB/'                 # for Adam

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 1 Importing tables

In [ ]:
def read_tables(path,state):
  df = pd.read_csv(path,sep =',')
  df['State'] = state
  cols = list(df)
  cols = [cols[-1]] + cols[:-1]
  cols = df[cols]
  return cols

In [ ]:
path_CA_B = f'{workdir}CA_hzBldgCountOccupB_table_copy.csv'
state = 'CA'
CA_hzBldgCountOccupB = read_tables(path_CA_B,state)
CA_hzBldgCountOccupB

,State,OBJECTID,CensusBlock,RES1I,RES2I,RES3AI,RES3BI,RES3CI,RES3DI,RES3EI,...,IND3I,IND4I,IND5I,IND6I,AGR1I,REL1I,GOV1I,GOV2I,EDU1I,EDU2I
0,CA,1,60014001001000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,CA,2,60014001001001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,CA,3,60014001001002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CA,4,60014001001003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CA,5,60014001001004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707914,CA,707915,61150411004062,5.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
707915,CA,707916,61150411004063,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
707916,CA,707917,61150411004064,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
707917,CA,707918,61150411004065,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
707918,CA,707919,61150411004066,3.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
table = CA_hzBldgCountOccupB.copy()

In [ ]:
path = f'{workdir}CA_hzSqFootageOccupB.csv'
CA_hzSqFootageOccupB = pd.read_csv(path)
CA_hzSqFootageOccupB

,OBJECTID,CensusBlock,RES1F,RES2F,RES3AF,RES3BF,RES3CF,RES3DF,RES3EF,RES3FF,...,IND3F,IND4F,IND5F,IND6F,AGR1F,REL1F,GOV1F,GOV2F,EDU1F,EDU2F
0,1,60373117006027,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
1,2,60373117006028,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
2,3,60373118011000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
3,4,60373118011001,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
4,5,60373118011002,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707914,707915,61150411004062,8.330,1.990,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.56,0.0,0.0,0.0,0.0
707915,707916,61150411004063,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
707916,707917,61150411004064,1.666,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
707917,707918,61150411004065,1.666,0.995,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
707918,707919,61150411004066,4.998,0.995,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0

In [ ]:
path = f'{workdir}CA_hzDemographicsB.csv'
CA_hzDemographicsB = pd.read_csv(path)
CA_hzDemographicsB

,OBJECTID,CensusBlock,Population,Households,GroupQuarters,MaleLess16,Male16to65,MaleOver65,FemaleLess16,Female16to65,...,Built60to69,Built70to79,Built80to89,Built90to98,BuiltAfter98,MedianYearBuilt,AvgRent,AvgValue,SchoolEnrollmentKto12,SchoolEnrollmentCollege
0,1,60630004002402,1,1,0,0,0,0,0,1,...,0,1,0,0,0,1972,552,216600,0,0
1,2,60630004003018,9,3,0,4,0,1,0,2,...,0,0,0,0,0,1945,331,195300,4,0
2,3,60630004003045,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1945,331,195300,0,0
3,4,60630005011003,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1970,599,355200,0,0
4,5,60630005011029,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1970,599,355200,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707914,707915,60014351021012,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1990,1408,793900,0,0
707915,707916,60014351021013,133,42,0,9,46,7,13,52,...,4,4,7,21,2,1990,1408,793900,10,4
707916,707917,60014351021014,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1990,1408,793900,0,0
707917,707918,60014351021015,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1990,1408,793900,0,0
707918,707919,60014351021016,153,56,0,17,56,10,9,51,...,5,5,10,29,3,1990,1408,793900,12,2

In [ ]:
path = f'{workdir}CA_flNightVehicleInv.csv'
CA_flNightVehicleInv = pd.read_csv(path)
CA_flNightVehicleInv

,OBJECTID,CensusBlock,TotalVehicle,Cars,LightTrucks,HeavyTrucks,TotalExp,TValNewCars,TValUsedCars,TValNewLightTrucks,TValUsedLightTrucks,TValNewHeavyTrucks,TValUsedHeavyTrucks
0,1,60014001001000,22,12,9,1,349130.0,27029.0,150150.0,25058.0,101240.0,0.0,45653.0
1,2,60014001001001,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,60014001001002,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,60014001001003,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,60014001001004,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
707914,707915,61150411004062,24,14,10,0,343432.0,27029.0,177450.0,25058.0,113895.0,0.0,0.0
707915,707916,61150411004063,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
707916,707917,61150411004064,14,8,6,0,210912.0,27029.0,95550.0,25058.0,63275.0,0.0,0.0
707917,707918,61150411004065,7,4,3,0,92565.0,0.0,54600.0,0.0,37965.0,0.0,0.0
707918,707919,61150411004066,27,16,11,0,383387.0,27029.0,204750.0,25058.0,126550.0,0.0,0.0

In [ ]:
from pandas.io.parsers.readers import read_csv
path = f'{workdir}CA_flDayVehicleInv.csv'
CA_flDayVehicleInv = read_csv(path)
CA_flDayVehicleInv

,OBJECTID,CensusBlock,TotalVehicle,Cars,LightTrucks,HeavyTrucks,TotalExp,TValNewCars,TValUsedCars,TValNewLightTrucks,TValUsedLightTrucks,TValNewHeavyTrucks,TValUsedHeavyTrucks
0,1,60014001001000,13,7,5,1,204478.0,0.0,95550.0,0.0,63275.0,0.0,45653.0
1,2,60014001001001,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,60014001001002,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,60014001001003,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,60014001001004,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
707914,707915,61150411004062,17,10,7,0,250867.0,27029.0,122850.0,25058.0,75930.0,0.0,0.0
707915,707916,61150411004063,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
707916,707917,61150411004064,7,4,3,0,92565.0,0.0,54600.0,0.0,37965.0,0.0,0.0
707917,707918,61150411004065,3,2,1,0,39955.0,0.0,27300.0,0.0,12655.0,0.0,0.0
707918,707919,61150411004066,12,7,5,0,158825.0,0.0,95550.0,0.0,63275.0,0.0,0.0

In [ ]:
path = f'{workdir}CA_ExposureOccupB.csv'
CA_ExposureOccupB = pd.read_csv(path)
CA_ExposureOccupB

,OBJECTID,CensusBlock,RES1I,RES2I,RES3AI,RES3BI,RES3CI,RES3DI,RES3EI,RES3FI,...,IND3I,IND4I,IND5I,IND6I,AGR1I,REL1I,GOV1I,GOV2I,EDU1I,EDU2I
0,1,60070018001013,4934,443,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,60070018001014,0,0,0,0,0,0,0,0,...,0,0,0,205,0,0,0,0,0,0
2,3,60070018001015,3218,316,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,60070018001016,429,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,60070018001017,15445,1456,0,465,0,0,0,0,...,0,0,0,712,154,109,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707914,707915,61150411004062,1461,127,0,0,0,0,0,0,...,0,0,0,0,0,339,0,0,0,0
707915,707916,61150411004063,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
707916,707917,61150411004064,292,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
707917,707918,61150411004065,292,63,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
707918,707919,61150411004066,876,63,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
path = f'{workdir}CA_ExposureContentOccupB.csv'
CA_ExposureContentOccupB = pd.read_csv(path)
CA_ExposureContentOccupB

,OBJECTID,CensusBlock,RES1I,RES2I,RES3AI,RES3BI,RES3CI,RES3DI,RES3EI,RES3FI,...,IND3I,IND4I,IND5I,IND6I,AGR1I,REL1I,GOV1I,GOV2I,EDU1I,EDU2I
0,1,61130113001041,435,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,61130113001042,145,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,61130113001043,145,0,0,0,0,0,0,0,...,0,0,0,0,103,0,0,0,0,0
3,4,61130113001044,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,61130113001045,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707914,707915,61150411004062,730,63,0,0,0,0,0,0,...,0,0,0,0,0,339,0,0,0,0
707915,707916,61150411004063,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
707916,707917,61150411004064,146,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
707917,707918,61150411004065,146,32,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
707918,707919,61150411004066,438,32,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
path = f'{workdir}CA_hzCensusBlock_TIGER.csv'
CA_hzCensusBlock_TIGER = gpd.read_file(path, geometry = "Shape")
CA_hzCensusBlock_TIGER

,OBJECTID,Shape,CensusBlock,Tract,BldgSchemesId,BlockType,BlockArea,CenLat,CenLongit,PctWithBasemnt,...,PctLowRiseOther,PctMidRiseOther,PctHighRiseOther,Pct1CarGarage,Pct2CarGarage,Pct3CarGarage,PctCarPort,PctNoGarage,IncomeRatio,geometry
0,1,0xE61000000104190000001094916963E95DC0F0139AA0...,060190073002034,06019007300,CA3,R,1.28176749,36.55789810,-119.65569290,8,...,98,1,1,16,51,11,6,16,1.38386905,None
1,2,0xE610000001042400000064DD32EC5FE95DC080894A20...,060190070031017,06019007003,CA3,R,0.05129993,36.60032560,-119.64761720,8,...,98,1,1,16,51,11,6,16,0.74190187,None
2,3,0xE610000001040D000000F887643075E85DC0B813F755...,060190070031029,06019007003,CA3,R,0.03397031,36.58946440,-119.63402570,8,...,98,1,1,16,51,11,6,16,0.74190187,None
3,4,0xE6100000010419000000C42CEB6675E85DC0A0812A6B...,060190070031028,06019007003,CA3,R,0.02761779,36.58861320,-119.63384500,8,...,98,1,1,16,51,11,6,16,0.74190187,None
4,5,0xE610000001044F000000F02C39D517E65DC08817553D...,060190070041015,06019007004,CA3,R,0.01600990,36.58833670,-119.59736630,8,...,97,2,1,16,51,11,6,16,0.90033048,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707914,707915,0xE610000001041A0300009845816ECA205EC08803F990...,060490003002403,06049000300,CA1,R,18.18934631,41.67401940,-120.50514350,8,...,97,2,1,16,51,11,6,16,0.64293921,None
707915,707916,0xE610000001042F000000F467816E76265EC060A28192...,060490003002096,06049000300,CA1,R,0.23834215,41.90274840,-120.59673370,8,...,97,2,1,16,51,11,6,16,0.64293921,None
707916,707917,0xE610000001047A02000000547B55AA185EC018E6A920...,060490003003805,06049000300,CA1,R,22.13207245,41.21222090,-120.35335250,8,...,97,2,1,16,51,11,6,16,0.95870078,None
707917,707918,0xE610000001040701000094731C84A81C5EC02051B8C3...,060490003003675,06049000300,CA1,R,5.29473162,41.46161250,-120.44968990,8,...,97,2,1,16,51,11,6,16,0.95870078,None
707918,707919,0xE610000001048E04000048A7067E9A215EC02819C66B...,060490003002176,06049000300,CA1,R,30.15489769,41.71699960,-120.52612050,8,...,97,2,1,16,51,11,6,16,0.64293921,None

In [ ]:
from shapely.wkb import dumps, loads

test = CA_hzCensusBlock_TIGER.iloc[:4].copy()
test['Shape'] = test['Shape'].astype(str)

ini_string = test.loc[0,'Shape']
bin_string = bin(int(ini_string, 16))[2:].zfill(8)
print(ini_string)
poli_bytes = bytes.fromhex(ini_string[2:])
loads(poli_bytes)

ParseException: Unknown WKB type 16

0xE61000000104190000001094916963E95DC0F0139AA0DD474240C80B1EE380E95DC0B0CCB3E3DD474240080B5E5CD9E95DC008E46AB5DE47424088531DDAF6E95DC0603EEA00DF47424060F9E44214EA5DC0E01C0644DF474240701C698A2FEA5DC060FB2187DF474240DCFECE896CEA5DC068B8590DE0474240A40DF9FA89EA5DC0F8ECD658E04742407C348D078AEA5DC0B0F8DC2FBD4742409C361C298AEA5DC0989752BD534742405C1BE2398AEA5DC0181FBC9C3047424044D9133E8AEA5DC00897E4A624474240185577468AEA5DC050F6ECDF1347424088C8A15F8AEA5DC070F624D600474240107E9A748AEA5DC030EAB0E8F4464240ECA7B7208AEA5DC090F2E9D7F446424080250F2589EA5DC050035CB6F4464240604F2CD188EA5DC08087F8ADF4464240C4628C2987EA5DC0F8A8DC6AF4464240F407BB424EEA5DC0A84E5D1FF4464240C087C89F9EE95DC040E14445F34642405CEB871564E95DC0C0022902F3464240343EC8EF63E95DC0681C42E62147424050831F8B63E95DC0E0DCB7ABAE4742401094916963E95DC0F0139AA0DD47424001000000020000000001000000FFFFFFFF0000000003

WKBReadingError: ignored

# 2. Export County tables

In [ ]:
US_FIPS = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Hazus Data/US_FIPS.csv')
CA_FIPS = US_FIPS.loc[US_FIPS["state"] == "CA"]

In [ ]:
def find_code(name):
  row = US_FIPS.loc[US_FIPS["name"].str.contains(name)]
  row = row["fips"].values[0]
  return row

In [ ]:
# for i in CA_FIPS["fips"]:
#   row = CA_FIPS.loc[CA_FIPS["fips"] == i].values[0]
#   code = row[0]
#   name = row[1]
#   table["County Code"] = CA_hzBldgCountOccupB["CensusBlock"].astype(str).str[:4].astype(int)
#   table["CensusBlock"].astype(int)
#   table = table.loc[table['County Code'] == code]
#   CA_sum = CA_hzSqFootageOccupB.merge(table, how = "inner", on = "CensusBlock")
#   CA_sum = CA_sum.merge(CA_flNightVehicleInv, how = "inner", on = "CensusBlock")
#   CA_sum = CA_sum.merge(CA_flDayVehicleInv, how = "inner", on = "CensusBlock")
#   CA_sum = CA_sum.merge(CA_ExposureOccupB, how = "inner", on = "CensusBlock")
#   CA_sum = CA_sum.merge(CA_ExposureContentOccupB, how = "inner", on = "CensusBlock")
#   CA_sum = CA_sum.merge(CA_hzDemographicsB, how = "inner", on = "CensusBlock")
#   table = CA_hzBldgCountOccupB.copy()
#   CA_sum.to_csv(f'{workdir}{code}_{name}_sum.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:9203: FutureWarning: Passing 'suffixes' which cause duplicate columns {'OBJECTID_x'} in the result is deprecated and will raise a MergeError in a future version.
  validate=validate,

# 3. Import county tables

In [ ]:
CA_FIPS

     fips                    name state
192  6001          Alameda County    CA
193  6003           Alpine County    CA
194  6005           Amador County    CA
195  6007            Butte County    CA
196  6009        Calaveras County    CA
197  6011           Colusa County    CA
198  6013     Contra Costa County    CA
199  6015        Del Norte County    CA
200  6017        El Dorado County    CA
201  6019           Fresno County    CA
202  6021            Glenn County    CA
203  6023         Humboldt County    CA
204  6025         Imperial County    CA
205  6027             Inyo County    CA
206  6029             Kern County    CA
207  6031            Kings County    CA
208  6033             Lake County    CA
209  6035           Lassen County    CA
210  6037      Los Angeles County    CA
211  6039           Madera County    CA
212  6041            Marin County    CA
213  6043         Mariposa County    CA
214  6045        Mendocino County    CA
215  6047           Merced County    CA
216  6049            Modoc County    CA
217  6051             Mono County    CA
218  6053         Monterey County    CA
219  6055             Napa County    CA
220  6057           Nevada County    CA
221  6059           Orange County    CA
222  6061           Placer County    CA
223  6063           Plumas County    CA
224  6065        Riverside County    CA
225  6067       Sacramento County    CA
226  6069       San Benito County    CA
227  6071   San Bernardino County    CA
228  6073        San Diego County    CA
229  6075    San Francisco County    CA
230  6077      San Joaquin County    CA
231  6079  San Luis Obispo County    CA
232  6081        San Mateo County    CA
233  6083    Santa Barbara County    CA
234  6085      Santa Clara County    CA
235  6087       Santa Cruz County    CA
236  6089           Shasta County    CA
237  6091           Sierra County    CA
238  6093         Siskiyou County    CA
239  6095           Solano County    CA
240  6097           Sonoma County    CA
241  6099       Stanislaus County    CA
242  6101           Sutter County    CA
243  6103           Tehama County    CA
244  6105          Trinity County    CA
245  6107           Tulare County    CA
246  6109         Tuolumne County    CA
247  6111          Ventura County    CA
248  6113             Yolo County    CA
249  6115             Yuba County    CA

In [ ]:
name = 'Alameda'
code = find_code(name)
county_table = pd.read_csv(f'{workdir}{code}_{name} County_sum.csv').drop(columns = "Unnamed: 0")
county_table

,OBJECTID_x,CensusBlock,RES1F,RES2F,RES3AF,RES3BF,RES3CF,RES3DF,RES3EF,RES3FF,...,Built60to69,Built70to79,Built80to89,Built90to98,BuiltAfter98,MedianYearBuilt,AvgRent,AvgValue,SchoolEnrollmentKto12,SchoolEnrollmentCollege
0,45,60014001001000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0,0,0,0,0,1993,2001,1000001,0,0
1,46,60014001001001,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0,0,0,0,0,1993,2001,1000001,0,0
2,47,60014001001002,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0,0,0,0,0,1993,2001,1000001,0,0
3,48,60014001001003,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0,0,0,0,0,1993,2001,1000001,0,0
4,49,60014001001004,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0,0,0,0,0,1993,2001,1000001,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23844,23889,60019832001051,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0,0,0,0,0,1995,1627,478900,0,0
23845,23890,60019832001052,18.521999,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0,0,7,2,10,1995,1627,478900,0,0
23846,23891,60019832001053,22.638000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0,0,8,2,11,1995,1627,478900,0,0
23847,23892,60019832001054,98.783997,0.0,0.0,0.0,0.0,0.0,0.0,60.825001,...,0,0,38,10,49,1995,1627,478900,3,0
23848,23893,60019832001055,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0,0,0,0,1,1995,1627,478900,0,0